---
---
<!DOCTYPE html>

<head>
{% include head.ext %}

  <title>Projects</title>
</head>

<body>
<div id="body" class="NoMargin">
{% include navigation.ext %}

<div id="contents" class="NoMargin">
  <h2>Projects</h2>
  <div>
    <h3>Software</h3>
    <div class="Projects_ProjectFrame">
      <div class="Projects_PictureLeft NoMargin">
        <img alt="TGUI" src="{{site.url}}/resources/TGUI-logo.jpg" width="200" height="200"/>
      </div>
      <div class="Projects_TextRight NoMargin">
        <h4>Texus' GUI</h4>
        <p>In one line: TGUI is an easy to use c++ cross-platform GUI for SFML.</p>
        <p>This is the project that I spend most of my time working on. There are several people who are using this library in their project and a game that uses it is already on its way to <a href="//steamcommunity.com/sharedfiles/filedetails/?id=331371486">steam</a>.</p>
        <p>TGUI website: <a href="//tgui.eu">tgui.eu</a></p>
      </div>
    </div>
  </div>
  <div class="ClearFloat">
    <h3>Ludum Dare games</h3>
    <div class="Projects_ProjectFrame">
      <div class="Projects_PictureLeft NoMargin">
        <img alt="LD27 game: Racer" src="{{site.url}}/resources/LD27-small.jpg" width="240" height="180"/>
      </div>
      <div class="Projects_TextRight NoMargin">
        <h4>LD27 Racer</h4>
        <p>Theme: 10 seconds</p>
        <p>Race game for in which you have to race from checkpoint to checkpoint in less than 10 seconds. This was my first ludum dare game. I participated in the 72 hour jam, used some images and all the music from the internet.</p>
        <p>Check the <a href="https://github.com/texus/LD27-Game">source code</a> or download for <a href="https://github.com/texus/LD27-Game/archive/master.zip">windows</a></p>
      </div>
    </div>
    <div class="Projects_ProjectFrame">
      <div class="Projects_PictureLeft NoMargin">
        <img alt="LD30 game: Planet Rescue" src="{{site.url}}/resources/LD30-small.jpg" width="240" height="180"/>
      </div>
      <div class="Projects_TextRight NoMargin">
        <h4>Planet Rescue</h4>
        <p>Theme: Connected Worlds</p>
        <p>The game is a 2d platformer in which you must avoid dying by one of the traps and collect some objects to continue. This time I participated in the 48 hour compo and it lacked some backround music.</p>
        <p>Check the <a href="https://github.com/texus/LD30-Game">source code</a> or download for <a href="https://github.com/texus/LD30-Game/archive/windows.zip">windows</a> or <a href="https://github.com/texus/LD30-Game/archive/linux64.zip">linux (64 bit)</a></p>
      </div>
    </div>
  </div>
  <div>
    <h3>University projects</h3>
    <p>...</p>
  </div>
  <div>
    
  </div>
</div>

{% include footer.ext %}
</div>

</body>
