---
title: Texus's Blog
layout: default
---
<h2>{{ page.title }} <a href="/feed.xml"><img alt="RSS icon" src="/resources/feed-icon-20x20.png" width=20 height=20 /></a></h2>
<div>
  {% for post in paginator.posts %}
  <article class="post">
    <h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a> <span class="Home_PostDate">(<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>)</span></h3>
    {{ post.excerpt }}
    <a href="{{ post.url }}">Read more</a>
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Older</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Newer</a>
  {% endif %}
</div>
