---
layout: default
---
<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <em><small><time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time></small></em>
  {{ content }}
</article>

<section class="disqus" id="comments" name="comments">
    <div id="disqus_activate">
        <a href="#comments" id="disqus_activate_btn" onclick="activate_comments()">Activate comments?<br>(This will load Disqus)</a>
    </div>
    <div id="disqus_thread"></div>

    <script type="text/javascript">
        var disqus_shortname = 'texus';
        var disqus_identifier = '{{ page.date | date: '%Y-%m-%d %H:%M' }}';
        var disqus_title = '{{ page.title }}';
        var disqus_url = '{{ site.url }}{{ page.url | replace:'index.html','' }}';

        activate_comments = function() {
            var element = document.getElementById("disqus_activate");
            element.parentNode.removeChild(element);

            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq)
        };
    </script>
    <noscript>Please enable JavaScript to view the comments powered by Disqus.</noscript>
</section>
